{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/listing.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/addButton.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Premier League players!{% endblock %}

{% block body %}

<table class="content-table">
	<thead>
		<tr>
			<th>Name</th>
            <th>Position</th>
			<th>Salary</th>
            <th>Club</th>
            <th></th>
            <th></th>
		</tr>
	</thead>
	<tbody>
        {% for player in players %}
            <tr onClick="editPlayer('/updatePlayer/{{player.id}}')">
                <td>{{ player.name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.salary }} €</td>
                <td>{{ (player.club is defined and player.club is not null) ? player.club.name : 'No club' }}</td>
                <td><div onClick="removePlayer({{player.id}})">Delete &#10006;</div></td>
            </tr>
        {% endfor %}
	</tbody>
</table>

<a class="add-button" href="/addPlayer">Add new player</a>
<a class="add-button" href="/clubs">Clubs</a>
<a class="add-button" href="/coaches">Coaches</a>

{% block javascripts %}
    <script src="{{ asset('js/managePlayer.js') }}"></script>
{% endblock %}

{% endblock %}
