{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/listing.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/addButton.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Premier League coaches!{% endblock %}

{% block body %}

<table class="content-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Salary</th>
            <th>Club</th>
            <th></th>
            <th></th>
		</tr>
	</thead>
	<tbody>
        {% for coach in coaches %}
            <tr onClick="editCoach('/updateCoach/{{coach.id}}')">
                <td>{{ coach.name }}</td>
                <td>{{ coach.salary|number_format(2, '.', ',') }} €</td>
                <td>{{ (coach.club is defined and coach.club is not null) ? coach.club.name : 'No club' }}</td>
                <td><div onClick="removeCoach({{coach.id}})" style="cursor:pointer;">Delete &#10006;</div></td>
            </tr>
        {% endfor %}
	</tbody>
</table>

<a class="add-button" href="/addCoach">Add new coach</a>
<a class="add-button" href="/admin/clubs">Clubs</a>
<a class="add-button" href="/admin/players">Players</a>
<a class="add-button" href="/admin/stadiums">Stadiums</a>

{% block javascripts %}
    <script src="{{ asset('js/manageCoach.js') }}"></script>
{% endblock %}

{% endblock %}
