{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/listing.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/addButton.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}BackOffice listing clubs{% endblock %}

{% block body %}

<table class="content-table">
	<thead>
		<tr>
			<th>Name</th>
            <th>Budget</th>
            <th>Coach</th>
            <th>Stadium</th>
            <th></th>
		</tr>
	</thead>
	<tbody>
        {% for club in clubs %}
            <tr onClick="editClub('/updateClub/{{club.id}}')">
                <td>{{ club.name }}</td>
                <td>{{ club.budget|number_format(2, '.', ',') }} €</td>
                <td>{{ (club.coach is not null) ? club.coach.name : 'None' }}</td>
                <td>{{ (club.stadium is not null) ? club.stadium.name : 'None' }}</td>
                <td><div onClick="removeClub({{club.id}})">Delete &#10006;</div></td>
            </tr>
        {% endfor %}
	</tbody>
</table>

<a class="add-button" href="/addClub">Add new club</a>
<a class="add-button" href="/admin/coaches">Coaches</a>
<a class="add-button" href="/admin/players">Players</a>
<a class="add-button" href="/admin/stadiums">Stadiums</a>

{% block javascripts %}
    <script src="{{ asset('js/manageClub.js') }}"></script>
{% endblock %}

{% endblock %}