{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}New club form!{% endblock %}

{% block body %}

<div class="container">
  <h2 class="title">{{ (club is defined) ? 'Update' : 'Add' }} new club</h2>
  <form class="add-club-form" method="POST" action="/addClubSubmitAction">
    <input type="hidden" id="clubId" name="clubId" value="{{ (club is defined) ? club.id : '' }}" />

    <div class="item-details">
      <div class="input-box">
        <label for="clubName">Club Name</label>
        <input type="text" id="clubName" name="clubName" placeholder="Name of the club" value="{{ (club is defined) ? club.name : '' }}">
      </div>

      <div class="input-box">
        <label for="budget">Budget</label>
        <input type="text" id="budget" name="budget" placeholder="budget in €" value="{{ (club is defined) ? club.budget : '' }}">
      </div>

      <div class="input-box">
        <label for="coach">Coach*</label>
        <select id="coachId" name="coachId">
          <option value="" selected disabled>Select a coach</option>
            {% for coach in coaches %}
              <option value="{{coach.id}}" {{ (club.coach.id is defined and club.coach.id == coach.id) ? 'selected' : '' }}>{{coach.name}}</option>
            {% endfor %}
        </select>
      </div>
    
      <div class="submit-button">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>

{% endblock %}
