{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ asset('js/deleteCoach.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/listing.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/addButton.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Premier League coaches!{% endblock %}

{% block body %}

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Salary</td>
			<td>Club</td>
            <td></td>
		</tr>
	</thead>
	<tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.name }}</td>
                <td>{{ coach.salary }} €</td>
                <td>{{ (coach.club is not null) ? coach.club.name : 'None' }}</td>
                <td><div onClick="removeCoach({{coach.id}})" style="cursor:pointer;" data-coach-id="{{coach.id}}">Delete &#10006;</div></td>
            </tr>
        {% endfor %}
	</tbody>
</table>

<a class="add-button" href="/addCoach">Add new coach</a>
{% endblock %}
