{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/listing.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/addButton.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Premier League coaches!{% endblock %}

{% block body %}

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Salary</td>
            <td>Club</td>
            <td></td>
            <td></td>
		</tr>
	</thead>
	<tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.name }}</td>
                <td>{{ coach.salary }} €</td>
                <td>{{ (coach.club is defined and coach.club is not null) ? coach.club.name : 'No club' }}</td>
                <td><div onClick="removeCoach({{coach.id}})" style="cursor:pointer;" data-coach-id="{{coach.id}}">Delete &#10006;</div></td>
                <td><div onClick="editCoach('/updateCoach/{{coach.id}}')" style="cursor:pointer;" data-url="/updateCoach/{{coach.id}}" data-coach-id="{{coach.id}}">Update &#9989;</div></td>
            </tr>
        {% endfor %}
	</tbody>
</table>

<a class="add-button" href="/addCoach">Add new coach</a>
<a class="add-button" href="/clubs">Clubs</a>

{% block javascripts %}
    <script src="{{ asset('js/manageCoach.js') }}"></script>
{% endblock %}

{% endblock %}
